.upload-label {
  font-size: 150%;
  display: inline;
  top: 10em;
  left: 0.5em;
  padding: 5px;
}

.container {
  padding-top: 5px;

  &_checkbox-group {
    display: inline-flex;
    flex-direction: column;
    top: 15em;
    margin-left: 1rem;

    &_checkbox {
      margin-top: 5px;
      margin-left: 20px;
    }
  }
}
