.container {
  padding-top: 5px;
}

.upload-label {
  font-size: 150%;
  display: inline;
  top: 10em;
  left: 0.5em;
  padding: 5px;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
  top: 15em;
  margin-left: 1rem;
}

.example-radio-button {
  margin-top: 5px;
  margin-left: 20px;
}

.download-container {
  display: inline;
  width: 100%;
}

.download-label {
  font-size: 100%;
  font-weight: bold;
}

.download-input {
  width: 10%;
}

.download-button {
  margin-left: 5px;
}
