<label class="upload-label">Feltöltések:</label>
<div class='container'>
  <div class='container_checkbox-group'>
    <mat-checkbox class="container_checkbox-group_checkbox"
      matTooltip="A generált adatokat lokálisan mentheti számítógépére." (change)='setSaveToFile($event)'>Mentés
      fájlba</mat-checkbox>
    <mat-checkbox class="container_checkbox-group_checkbox"
      matTooltip="Valós időben nyomnonkövetheti az adatok generálását." (change)='setWatching($event)'>Nyomonkövetés
    </mat-checkbox>
  </div>
</div>