<label class="choose-label">Kérjük válasszon:</label>

<mat-radio-group class="radio-group" [(ngModel)]="selectedType" (change)="show()">
  <mat-radio-button class="radio-button" *ngFor="let type of types" [value]="type">
    <option>{{type}}</option>
  </mat-radio-button>
</mat-radio-group>

<label class="endpoint-label" *ngIf="visibility">Végpontok:</label>
<input class="endpoint-input" *ngIf="visibility" matInput value="">
<button class="endpoint-button" *ngIf="visibility" mat-raised-button color="primary">URL hozzáadás</button>

