.radio-group {
    display: inline-flex;
    flex-direction: column;
    color: white;
}

.radio-button {
    margin: 5px;
}

.choose-label {
    font-size: 150%;
    color: white;
}

.container {
    position: absolute;
    display: inline-block;
    width: 40%;
    top: 9rem;
    left: 15rem;
}

.endpoint-label {
    font-size: 100%;
    position: relative;
    color: white;
    margin: auto;
}

.endpoint-input {
    position: relative;
    background-color: white;
    width: 50%;
    margin: auto;
}

.endpoint-button {
    position: relative;
    margin: auto;
}