<div class='dialog_container'>
    <div class='dialog_container_dateTime'>
        <form>
            <mat-form-field>
                <input matInput [min]="now" [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
                    [ngModelOptions]="{standalone: true}" [(ngModel)]='dateTime' placeholder="Válasszon egy időpontot">
                <span [owlDateTimeTrigger]="dt"><i class="fa fa-calendar"></i></span>
                <owl-date-time #dt [firstDayOfWeek]='1'></owl-date-time>
            </mat-form-field>
        </form>
    </div>
    <div class='dialog_container_label'>
        <label>Dátum és idő: <b>{{ dateTime | date:'yyyy-MM-dd hh:mm a' }}</b></label>
    </div>
    <div class='dialog_container_buttons'>
        <button mat-raised-button color="warn" (click)='onCancel()'>Mégse</button>
        <button mat-raised-button color="primary" (click)='onSet()'>Beállít</button>
    </div>
</div>
