<h1 class='title'>
    Üdvözöljük az adatgeneráló felületen
</h1>

<mat-card class='card'>
    <mat-card-content class="card_content">
        <div class='card_content_generating-type'>
            <app-generating-type></app-generating-type>
        </div>
        <div class='card_content_upload-type'>
            <app-upload-type></app-upload-type>
        </div>
    </mat-card-content>
    <mat-card-actions class='card_actions'>
        <button class='card_actions_start-button' mat-raised-button color='primary' (click)='navigate()'
            matTooltip='Tovább az adatgenerálás felületre.'>Tovább</button>
    </mat-card-actions>
</mat-card>