.choose-label {
  font-size: 150%;
}

.container {
  padding-top: 5px;

  &_radio-group {
    display: inline-flex;
    flex-direction: column;
    margin-left: 1rem;

    &_radio-button {
      margin: 5px;
    }
  }

  &_endpoint {
    width: 40%;
    margin-left: 4rem;

    &_label {
      font-size: 100%;
      font-weight: bold;
      margin: auto;
    }
  }
}
