.container {
  padding-top: 5px;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
  margin-left: 1rem;
}

.radio-button {
  margin: 5px;
}

.choose-label {
  font-size: 150%;
}

.endpoint-container {
  width: 40%;
  margin-left: 4rem;
}

.endpoint-label {
  font-size: 100%;
  font-weight: bold;
  margin: auto;
}

.endpoint-input {
  width: 50%;
  margin: auto;
}
