.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;

  &_header {
    background-color: white;
    min-height: 64px;
    padding: 8px 24px 0;

    &_form-field {
      font-size: 14px;
      width: 100%;
    }
  }

  &_table {
    overflow: auto;
  }
}

.back-button {
  margin-top: 5px;
  border-radius: 5px;
}
